In [49]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [50]:
df1=pd.read_csv("test_datasensor.csv")
df1

            AccX      AccY      AccZ      GyrX      GyrY      GyrZ  label
0       0.221680 -0.237305  1.825195 -0.071678 -0.003331  0.005862      3
1      -0.026855  1.832031  0.726562 -0.073943 -0.018786  0.020784      0
2       0.112793  1.661133  0.929688 -0.074476 -0.023982  0.001066      0
3       0.013672  1.997070  0.177246 -0.091130 -0.019319  0.005462      1
4       0.210449 -0.257324  1.833008 -0.060087 -0.015322  0.006528      3
...          ...       ...       ...       ...       ...       ...    ...
179995  0.073242  1.698242  0.910645 -0.072611 -0.020917  0.002531      0
179996 -0.065430  1.980469  0.145996 -0.162009 -0.003597  0.056490      1
179997 -0.202637  1.333984 -0.500000  0.303634 -1.378011  0.093662      2
179998  0.145996  1.564453  1.081055 -0.092862 -0.019985  0.002265      0
179999  0.081055  1.683594  0.938477 -0.098325 -0.017720  0.001332      0

[180000 rows x 7 columns]

In [51]:
df2=pd.read_csv("Dataset1.csv")
df2

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,68.54,0,NaN,NaN,-0.02,1,0,17072
1,1,1,65.0,100.0,NaN,NaN,72.0,NaN,16.5,NaN,...,NaN,NaN,68.54,0,NaN,NaN,-0.02,2,0,17072
2,2,2,78.0,100.0,NaN,NaN,42.5,NaN,NaN,NaN,...,NaN,NaN,68.54,0,NaN,NaN,-0.02,3,0,17072
3,3,3,73.0,100.0,NaN,NaN,NaN,NaN,17.0,NaN,...,NaN,NaN,68.54,0,NaN,NaN,-0.02,4,0,17072
4,4,4,70.0,100.0,NaN,129.0,74.0,69.0,14.0,NaN,...,NaN,330.0,68.54,0,NaN,NaN,-0.02,5,0,17072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552205,21,21,83.0,99.0,NaN,121.0,77.0,54.0,22.0,NaN,...,NaN,NaN,88.00,0,1.0,0.0,-2.93,22,0,113911
1552206,22,22,80.0,92.0,NaN,102.0,73.0,51.0,24.0,NaN,...,NaN,NaN,88.00,0,1.0,0.0,-2.93,23,0,113911
1552207,23,23,95.0,97.0,36.7,128.5,83.0,58.5,25.0,NaN,...,NaN,NaN,88.00,0,1.0,0.0,-2.93,24,0,113911
1552208,24,24,104.0,99.0,NaN,127.0,85.0,59.0,24.0,NaN,...,NaN,NaN,88.00,0,1.0,0.0,-2.93,25,0,113911
1552209,25,25,94.5,99.0,NaN,112.0,81.0,56.0,22.0,NaN,...,NaN,NaN,88.00,0,1.0,0.0,-2.93,26,0,113911

In [52]:
df2.columns

Index(['Unnamed: 0', 'Hour', 'HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP',
       'Resp', 'EtCO2', 'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2',
       'AST', 'BUN', 'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine',
       'Bilirubin_direct', 'Glucose', 'Lactate', 'Magnesium', 'Phosphate',
       'Potassium', 'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS', 'SepsisLabel', 'Patient_ID'],
      dtype='object')

In [53]:


# Assuming df is your DataFrame containing the dataset

# Define the list of necessary columns
necessary_columns = ['Age', 'Gender', 'HR', 'O2Sat', 'Temp', 'SBP', 'DBP', 
                     'Resp', 'Glucose', 'Lactate', 'Hct', 'Hgb', 'WBC', 
                     'Platelets','Patient_ID', 'SepsisLabel']

# Keep only the necessary columns in the DataFrame
df2 = df2[necessary_columns]

# Display the first few rows of the modified DataFrame
print(df2.head())

     Age  Gender    HR  O2Sat  Temp    SBP   DBP  Resp  Glucose  Lactate  \
0  68.54       0   NaN    NaN   NaN    NaN   NaN   NaN      NaN      NaN
1  68.54       0  65.0  100.0   NaN    NaN   NaN  16.5      NaN      NaN
2  68.54       0  78.0  100.0   NaN    NaN   NaN   NaN      NaN      NaN
3  68.54       0  73.0  100.0   NaN    NaN   NaN  17.0      NaN      NaN
4  68.54       0  70.0  100.0   NaN  129.0  69.0  14.0    161.0      NaN

    Hct  Hgb   WBC  Platelets  Patient_ID  SepsisLabel
0   NaN  NaN   NaN        NaN       17072            0
1   NaN  NaN   NaN        NaN       17072            0
2   NaN  NaN   NaN        NaN       17072            0
3   NaN  NaN   NaN        NaN       17072            0
4  29.7  9.5  11.3      330.0       17072            0

In [54]:
df2

,Age,Gender,HR,O2Sat,Temp,SBP,DBP,Resp,Glucose,Lactate,Hct,Hgb,WBC,Platelets,Patient_ID,SepsisLabel
0,68.54,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17072,0
1,68.54,0,65.0,100.0,NaN,NaN,NaN,16.5,NaN,NaN,NaN,NaN,NaN,NaN,17072,0
2,68.54,0,78.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17072,0
3,68.54,0,73.0,100.0,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,17072,0
4,68.54,0,70.0,100.0,NaN,129.0,69.0,14.0,161.0,NaN,29.7,9.5,11.3,330.0,17072,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552205,88.00,0,83.0,99.0,NaN,121.0,54.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,113911,0
1552206,88.00,0,80.0,92.0,NaN,102.0,51.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,113911,0
1552207,88.00,0,95.0,97.0,36.7,128.5,58.5,25.0,163.0,NaN,NaN,NaN,NaN,NaN,113911,0
1552208,88.00,0,104.0,99.0,NaN,127.0,59.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,113911,0
1552209,88.00,0,94.5,99.0,NaN,112.0,56.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,113911,0

In [55]:
df2.isnull().sum()

Age                  0
Gender               0
HR              153399
O2Sat           202736
Temp           1026984
SBP             226265
DBP             486554
Resp            238335
Glucose        1286694
Lactate        1510764
Hct            1414777
Hgb            1437619
WBC            1452763
Platelets      1460001
Patient_ID           0
SepsisLabel          0
dtype: int64

In [56]:

# Drop rows with any null values
df2.dropna(inplace=True)

# Display the first few rows of the modified DataFrame
print(df2.head())
# Drop columns with any null values
df2.dropna(axis=1, inplace=True)

        Age  Gender     HR  O2Sat   Temp    SBP   DBP  Resp  Glucose  Lactate  \
542   81.72       0   63.0   89.0  37.11  137.0  50.0  20.0    160.5      1.6
775   39.76       1  134.5  100.0  36.89   88.5  46.0  19.5     84.0      3.0
800   39.76       1   94.0   99.0  37.28  104.0  61.0  14.0     98.0      1.5
921   71.56       1   82.0  100.0  36.40  116.0  64.0  16.0     66.0      2.3
1212  39.54       1   91.0   99.0  37.40  120.0  71.0  21.0    130.0      1.3

       Hct   Hgb   WBC  Platelets  Patient_ID  SepsisLabel
542   30.2  10.2  14.1      115.0       12878            0
775   36.7  13.0   1.9      220.0        8253            0
800   32.5  11.1   8.8      191.0        8253            0
921   33.9  11.7  19.7      141.0       10019            0
1212  30.9  11.3   8.9      164.0       10803            0

C:\Users\MEGA COM\AppData\Local\Temp\ipykernel_3196\3185736498.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)
C:\Users\MEGA COM\AppData\Local\Temp\ipykernel_3196\3185736498.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(axis=1, inplace=True)

In [57]:
df2

,Age,Gender,HR,O2Sat,Temp,SBP,DBP,Resp,Glucose,Lactate,Hct,Hgb,WBC,Platelets,Patient_ID,SepsisLabel
542,81.72,0,63.0,89.0,37.11,137.0,50.0,20.0,160.50,1.60,30.2,10.2,14.1,115.0,12878,0
775,39.76,1,134.5,100.0,36.89,88.5,46.0,19.5,84.00,3.00,36.7,13.0,1.9,220.0,8253,0
800,39.76,1,94.0,99.0,37.28,104.0,61.0,14.0,98.00,1.50,32.5,11.1,8.8,191.0,8253,0
921,71.56,1,82.0,100.0,36.40,116.0,64.0,16.0,66.00,2.30,33.9,11.7,19.7,141.0,10019,0
1212,39.54,1,91.0,99.0,37.40,120.0,71.0,21.0,130.00,1.30,30.9,11.3,8.9,164.0,10803,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544598,73.00,1,80.0,94.5,38.10,126.0,62.0,23.5,163.50,0.95,25.6,8.3,5.7,81.0,108042,0
1545302,74.00,0,100.0,100.0,35.70,126.0,61.0,15.0,177.50,3.94,29.2,9.9,6.3,184.0,109686,0
1549538,51.00,0,87.5,97.0,37.35,104.5,79.5,18.0,149.00,1.78,32.5,10.8,17.9,263.0,112826,0
1550653,63.00,0,104.0,100.0,37.25,145.5,57.0,15.0,150.75,3.28,30.2,10.2,6.4,106.0,112997,0
1551710,48.00,1,83.0,100.0,37.50,127.0,61.0,16.0,102.00,0.90,15.9,5.4,7.7,137.0,117706,0

In [58]:
df2.isnull().sum()

Age            0
Gender         0
HR             0
O2Sat          0
Temp           0
SBP            0
DBP            0
Resp           0
Glucose        0
Lactate        0
Hct            0
Hgb            0
WBC            0
Platelets      0
Patient_ID     0
SepsisLabel    0
dtype: int64

In [59]:
import pandas as pd

# df1 is your first DataFrame with columns AccX, AccY, AccZ, GyrX, GyrY, GyrZ, label
# df2 is your second DataFrame with columns Age, Gender, HR, O2Sat, Temp, SBP, DBP, Resp, Glucose, Lactate, Hct, Hgb, WBC, Platelets, Patient_ID, SepsisLabel

# Create a common index for both DataFrames
df1['index'] = df1.index
df2['index'] = df2.index

# Merge both DataFrames on the common index
merged_df = pd.merge(df1, df2, on='index', how='outer')

# Drop the 'index' column after merging
merged_df.drop('index', axis=1, inplace=True)

# Display the first few rows of the merged DataFrame
print(merged_df.head())

       AccX      AccY      AccZ      GyrX      GyrY      GyrZ  label  Age  \
0  0.221680 -0.237305  1.825195 -0.071678 -0.003331  0.005862    3.0  NaN
1 -0.026855  1.832031  0.726562 -0.073943 -0.018786  0.020784    0.0  NaN
2  0.112793  1.661133  0.929688 -0.074476 -0.023982  0.001066    0.0  NaN
3  0.013672  1.997070  0.177246 -0.091130 -0.019319  0.005462    1.0  NaN
4  0.210449 -0.257324  1.833008 -0.060087 -0.015322  0.006528    3.0  NaN

   Gender  HR  ...  DBP  Resp  Glucose  Lactate  Hct  Hgb  WBC  Platelets  \
0     NaN NaN  ...  NaN   NaN      NaN      NaN  NaN  NaN  NaN        NaN
1     NaN NaN  ...  NaN   NaN      NaN      NaN  NaN  NaN  NaN        NaN
2     NaN NaN  ...  NaN   NaN      NaN      NaN  NaN  NaN  NaN        NaN
3     NaN NaN  ...  NaN   NaN      NaN      NaN  NaN  NaN  NaN        NaN
4     NaN NaN  ...  NaN   NaN      NaN      NaN  NaN  NaN  NaN        NaN

   Patient_ID  SepsisLabel
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

[5 rows x 23 columns]

C:\Users\MEGA COM\AppData\Local\Temp\ipykernel_3196\968427445.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['index'] = df2.index

In [60]:
merged_df

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,label,Age,Gender,HR,...,DBP,Resp,Glucose,Lactate,Hct,Hgb,WBC,Platelets,Patient_ID,SepsisLabel
0,0.221680,-0.237305,1.825195,-0.071678,-0.003331,0.005862,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.026855,1.832031,0.726562,-0.073943,-0.018786,0.020784,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.112793,1.661133,0.929688,-0.074476,-0.023982,0.001066,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.013672,1.997070,0.177246,-0.091130,-0.019319,0.005462,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.210449,-0.257324,1.833008,-0.060087,-0.015322,0.006528,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,1.0,80.0,...,62.0,23.5,163.50,0.95,25.6,8.3,5.7,81.0,108042.0,0.0
182888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,0.0,100.0,...,61.0,15.0,177.50,3.94,29.2,9.9,6.3,184.0,109686.0,0.0
182889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,0.0,87.5,...,79.5,18.0,149.00,1.78,32.5,10.8,17.9,263.0,112826.0,0.0
182890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,0.0,104.0,...,57.0,15.0,150.75,3.28,30.2,10.2,6.4,106.0,112997.0,0.0
182891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1.0,83.0,...,61.0,16.0,102.00,0.90,15.9,5.4,7.7,137.0,117706.0,0.0

In [61]:
# Drop rows with any null values
merged_df.dropna(inplace=True)

# Display the first few rows of the modified DataFrame
print(merged_df.head())

          AccX      AccY      AccZ      GyrX      GyrY      GyrZ  label  \
542   0.202637 -0.120117  1.845215 -0.076342 -0.026646  0.009060    3.0
775  -0.101562  1.803223  0.147949  0.057423  0.998035 -0.148020    2.0
800   0.210449 -0.261719  1.839355 -0.089665 -0.011458  0.010392    3.0
921   0.057129  1.662109  0.934570 -0.085268 -0.023715  0.004130    0.0
1212  0.015137  1.987793 -0.090332 -0.077407 -0.015455  0.007594    1.0

        Age  Gender     HR  ...   DBP  Resp  Glucose  Lactate   Hct   Hgb  \
542   81.72     0.0   63.0  ...  50.0  20.0    160.5      1.6  30.2  10.2
775   39.76     1.0  134.5  ...  46.0  19.5     84.0      3.0  36.7  13.0
800   39.76     1.0   94.0  ...  61.0  14.0     98.0      1.5  32.5  11.1
921   71.56     1.0   82.0  ...  64.0  16.0     66.0      2.3  33.9  11.7
1212  39.54     1.0   91.0  ...  71.0  21.0    130.0      1.3  30.9  11.3

       WBC  Platelets  Patient_ID  SepsisLabel
542   14.1      115.0     12878.0          0.0
775    1.9      220.0      8253.0          0.0
800    8.8      191.0      8253.0          0.0
921   19.7      141.0     10019.0          0.0
1212   8.9      164.0     10803.0          0.0

[5 rows x 23 columns]

In [62]:
merged_df

,AccX,AccY,AccZ,GyrX,GyrY,GyrZ,label,Age,Gender,HR,...,DBP,Resp,Glucose,Lactate,Hct,Hgb,WBC,Platelets,Patient_ID,SepsisLabel
542,0.202637,-0.120117,1.845215,-0.076342,-0.026646,0.009060,3.0,81.72,0.0,63.0,...,50.0,20.0,160.5,1.6,30.2,10.2,14.1,115.0,12878.0,0.0
775,-0.101562,1.803223,0.147949,0.057423,0.998035,-0.148020,2.0,39.76,1.0,134.5,...,46.0,19.5,84.0,3.0,36.7,13.0,1.9,220.0,8253.0,0.0
800,0.210449,-0.261719,1.839355,-0.089665,-0.011458,0.010392,3.0,39.76,1.0,94.0,...,61.0,14.0,98.0,1.5,32.5,11.1,8.8,191.0,8253.0,0.0
921,0.057129,1.662109,0.934570,-0.085268,-0.023715,0.004130,0.0,71.56,1.0,82.0,...,64.0,16.0,66.0,2.3,33.9,11.7,19.7,141.0,10019.0,0.0
1212,0.015137,1.987793,-0.090332,-0.077407,-0.015455,0.007594,1.0,39.54,1.0,91.0,...,71.0,21.0,130.0,1.3,30.9,11.3,8.9,164.0,10803.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177922,0.089355,1.891602,-0.185547,-0.015188,-0.100323,-0.169204,2.0,73.30,1.0,83.5,...,78.0,14.0,106.0,11.0,22.0,7.5,7.6,96.0,8749.0,0.0
178052,0.085938,1.682617,0.897461,-0.090997,-0.022916,0.011058,0.0,81.50,1.0,88.0,...,78.0,17.0,129.0,4.5,30.9,11.1,7.4,110.0,14726.0,0.0
178292,0.031738,1.982910,0.064941,-0.079939,-0.018253,0.007328,1.0,59.51,1.0,110.0,...,40.0,13.0,138.5,4.7,30.8,10.6,11.9,85.0,2439.0,0.0
178295,-0.321289,1.596191,-0.697266,-0.690937,1.547214,-0.303501,2.0,59.51,1.0,131.0,...,50.5,13.0,187.0,2.9,32.1,10.9,13.4,113.0,2439.0,0.0
178308,0.055176,2.118164,0.388672,-0.195184,-0.461247,-0.044899,2.0,59.51,1.0,83.0,...,62.0,14.0,196.0,2.3,27.2,9.8,6.7,109.0,2439.0,0.0

In [63]:
merged_df.to_csv('merged_dataset.csv', index=False)

In [64]:
merged_df.columns

Index(['AccX', 'AccY', 'AccZ', 'GyrX', 'GyrY', 'GyrZ', 'label', 'Age',
       'Gender', 'HR', 'O2Sat', 'Temp', 'SBP', 'DBP', 'Resp', 'Glucose',
       'Lactate', 'Hct', 'Hgb', 'WBC', 'Platelets', 'Patient_ID',
       'SepsisLabel'],
      dtype='object')

In [65]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [66]:

# Define features and target variables
X = merged_df.drop(['SepsisLabel', 'label'], axis=1)  # Features
y = merged_df[['SepsisLabel', 'label']]  # Combined target variables

In [67]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [68]:
# Create a multi-output classifier with RandomForestClassifier as the base estimator
multi_output_model = MultiOutputClassifier(RandomForestClassifier())

In [69]:

# Fit the multi-output model
multi_output_model.fit(X_train, y_train)

MultiOutputClassifier(estimator=RandomForestClassifier())

In [70]:
from sklearn.metrics import accuracy_score

# Predict the labels for the test set
y_pred = multi_output_model.predict(X_test)

# Calculate accuracy for each output variable
accuracy_sepsis = accuracy_score(y_test['SepsisLabel'], y_pred[:, 0])
accuracy_label = accuracy_score(y_test['label'], y_pred[:, 1])

print("Accuracy for SepsisLabel:", accuracy_sepsis)
print("Accuracy for act:", accuracy_label)

Accuracy for SepsisLabel: 0.9801980198019802
Accuracy for act: 1.0

In [71]:
print("Accuracy for SepsisLabel:", accuracy_sepsis * 100, "%")
print("Accuracy for label:", accuracy_label * 100, "%")

Accuracy for SepsisLabel: 98.01980198019803 %
Accuracy for label: 100.0 %

In [72]:
# Importing required libraries
import pandas as pd

# Assuming `multi_output_model` is already defined and trained

# Enter your new data values here
new_data_values = [0.114746094,1.75,-0.107421875,0.084202144,0.718782543,-0.127102604,71.52,0,99,98,36.8,116,50,12,85,2.2,28,10,9.7,75,5269





]
# Create a DataFrame for the new data values
new_data = pd.DataFrame([new_data_values], columns=['AccX', 'AccY', 'AccZ', 'GyrX', 'GyrY', 'GyrZ', 'Age', 'Gender', 'HR', 'O2Sat', 'Temp', 'SBP', 'DBP', 'Resp', 'Glucose', 'Lactate', 'Hct', 'Hgb', 'WBC', 'Platelets', 'Patient_ID'])

# Make predictions for the new data
new_predictions = multi_output_model.predict(new_data)

# Interpret the predictions
activity_result = None
health_result = None

# Map predicted labels to activity names
if new_predictions[0][1] == 2:  # Assuming 2 corresponds to "Walking" based on your model's output
    activity_result = "Walking"
elif new_predictions[0][0] == 0 or new_predictions[0][0] == 1 or new_predictions[0][0] == 3:  # Assuming 0, 1, 3 correspond to "Still"
    activity_result = "Still"
else:
    activity_result = "Unknown"  # Handle other cases if necessary

# Map predicted labels to health status
if new_predictions[0][0] == 0:
    health_result = "Healthy"
else:
    health_result = "Unhealthy"

print("Predicted Activity for new data: {}".format(activity_result))
print("Predicted Health Status for new data: {}".format(health_result))

Predicted Activity for new data: Walking
Predicted Health Status for new data: Healthy

In [48]:
import pickle

# Assuming `multi_output_model` is your trained multi-output model

# Specify the file path where you want to save the pickle file
pickle_file_path = "multi_output_model.pkl"

# Save the model to a pickle file
with open(pickle_file_path, 'wb') as file:
    pickle.dump(multi_output_model, file)

print("Pickle file saved successfully!")

Pickle file saved successfully!